.App {
  padding: 100px;
}
.Container {
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: lightblue;
  color: black;

}
.links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
